:root {

--color-accent-200: #b6ffc0;
--color-accent-300: #fbffa7;
--color-accent-400: #b1c5ff;
--color-accent-600: #ff764d;
--color-accent-500: #d5b3ff;
--color-accent-700: #0000ff;
--companyNameColor: #fb6854;
}

/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
  }
 
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: normal;
  }

  #root, #__next {
    isolation: isolate;
  }
/* CSS RESET */

/* ------------------------------------------------------ */

/* Desktop Layout */

  /* Visual Styling */

    html {
      display: grid;
      place-items: center;
    }

    body {
      font-family: 'Roboto';
      max-width: 100rem;
      background-color: rgb(240, 240, 240);
    }

    @media screen and (min-width: 100rem) {
      body {
        margin-inline: 3rem;
      }
    }

    header {
      background-color: white;
    }

    /* Mobile Navigation Menu that drops down when clicked */
    .mobileNav {
      padding: .4rem 0rem 0rem .5rem;
      border-bottom: 2px solid rgb(233, 230, 230);
      display: block;
    }

    .mobileLogoAndMenuBar {
      display: flex;
      position: relative;
    }

    .normalMobileNavLogo {
      position: relative;
      filter: none;
      z-index: 4;
    }

    .startingMobileNavLogo {
      position: relative;
      filter: none;
      z-index: 4;
      animation: colorWhite .3s linear forwards;
    }

    @keyframes colorWhite {
      0% {
        filter: none;
      }

      100% {
        filter: invert();
      }
    }


    .jsMobileNavLogo {
      position: relative;
      filter: invert();
      z-index: 3;
      animation: colorBlack .3s linear forwards;
    }

    @keyframes colorBlack {
      0% {
        filter: invert()
      }

      100% {
        filter: none;
      }
    }


    .menuButton {
      border: transparent;
      margin-left: 1.2rem;
      font-size: 1.1rem;
      font-weight: 400;
      color: black;
      position: relative;
      background-color: transparent;
      z-index: 4;
      animation: menuButtonColorChange .2s linear;
    }

    @keyframes menuButtonColorChange {
      0%  {
        color: white;
      }

      100% {
        color: black;
      }

    }

    .jsMenuButton {
      border: transparent;
      margin-left: 1.2rem;
      font-size: 1.1rem;
      font-weight: 400;
      color: black;
      position: relative;
      background-color: transparent;
      z-index: 4;
      animation: jsMenuButtonColorChange .2s linear forwards;
    }

    @keyframes jsMenuButtonColorChange {
      0% {
        color: black;
      }

      100% {
        color: white;
      }
    }

    .downArrow {
      filter: none;
      z-index: 4;
      width: .55rem;
      transform: translate(50%);
    }

    .jsDownArrow {
      width: .55rem;
      transform: translate(50%) rotate(180deg);
      filter: invert();
      z-index: 4;
    }

    .menuLink {
      text-decoration: none;
      color: black;
      position: relative;
      font-weight: 700;
    }

    .mobileMenuList {
      position: absolute;
      background-color: var(--color-accent-700);
      color: white;
      width: 100%;
      padding-left: .75rem;
      padding-top: 4rem;
      left: 0;
      top: -1000px;
    }

    
    .jsMobileMenuList {
      position: absolute;
      background-color: var(--color-accent-700);
      color: white;
      width: 100%;
      padding-left: .75rem;
      padding-top: 4rem;
      left: 0;
      top: -1000px;
      animation: mobileNavBarDescend .3s linear forwards;
    }

    @keyframes mobileNavBarDescend {
      0% {
        top: -1000px;
      }

      100% {
        top: 0px;
      }
    }
    
    .startingJsMobileMenuList {
      position: absolute;
      background-color: var(--color-accent-700);
      color: white;
      width: 100%;
      padding-left: .75rem;
      padding-top: 4rem;
      left: 0;
      top: -1000px;
      animation: mobileNavBarAscend .3s linear;
    }
    
    @keyframes mobileNavBarAscend {
      0% {
        top: 0px;
      }

      100% {
        top: -1000px;
      }
    }


    #mobileMenuList ul {
      list-style: none;
      padding-left: 0;
      font-weight: 500;
    }

    .mobileListSection1 {
      margin-bottom: .5rem;
    }

    .mobileListSection1 li {
      padding-bottom: 1.5rem;
      font-size: 1.1rem;
    }

    .mobileListSection1 li:first-child {
      padding-top: .75rem;
    }

    .mobileListSection1 li:last-child {
      font-size: .8rem;
    }

    .mobileListSection2 li:not(:last-child) {
      padding-bottom: 1rem;
    }

    .mobileListSection2 li:last-child {
      margin-bottom: 2rem;
    }

    .mobileListSection2 li:first-child {
      font-size: 1.1rem;
    }

    .mobileListSection2 li:not(:first-child) {
      font-size: .8rem;
    }

    .mobileListSection2 li:nth-child(6) {
      color: var(--color-accent-600);
    }


    .scrollOffScreenListTitle {
      font-size: 1.1rem;
      font-weight: 500;
      padding-bottom: 1rem;
      position: relative;
    }

    .mobileMenuList::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(90deg, rgb(0, 0, 255, 0), blue);
      width: 2.5rem;
      height: 8rem;
    }

    .scrollOffScreenSection div {
      font-size: .75rem;
      line-height: 1.25rem;
      column-gap: 1.25rem;
      padding-bottom: 1rem;
    }

    .scrollOffScreenSection div:last-child {
      margin-right: .25rem;
    }

    .scrollOffScreenSection div h3 {
      font-weight: 500;
      font-size: .75rem;
    }

    .scrollOffScreenList {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 53%;
      overflow-x: scroll;
    }
    


    /* Mobile Navigation Menu that drops down */

    .bodyContainer {
      background-color: white;
    }

    .mainNav {
      font-size: 1.1rem;
    }

    .noListStyle {
      list-style: none;
    }

    .tryLive {
      font-size: 1.1rem;
    }

    .more {
      color: var(--color-accent-600);
    }

    .more::after {
      content: "+";
      padding-left: 5px;
    }

    .moreIconChange {
      color: var(--color-accent-600);
    }

    .moreIconChange::after {
      content: "-";
      padding-left: 5px;
    }

    .moreDropdown {
      display: none;
      position: relative;
      padding: 2rem 3rem 3rem 3rem;
    }

    .moreDropdownVisible {
      display: block;
      position: relative;
      padding: 2rem 3rem 3rem 3rem;
    }

    .moreDropdown h2 {
      font-weight: 500;
      padding-bottom: 1rem;
    }

    .moreDropdownVisible h2 {
      font-weight: 500;
      padding-bottom: 1rem;
    }

    .moreDropdownRowOne {
      padding-bottom: 3rem;
    }

    .moreDropdownRowOne ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      padding-left: 0;
      font-size: 1.1rem;
    }

    .moreDropdownSectionList {
      display: flex;
      line-height: 1.8rem; 
      gap: 1.6rem;
    }

    .moreDropdownSectionList div {
      width: 25%;
    }

    .moreDropdownSectionList h3 {
      font-weight: 500;
      font-size: 1.1rem;
    }

    .moreDropdownSectionList p {
      font-size: 1.1rem;
    }


    .secondaryNav {
      font-weight: 500;
      list-style: none;
      position: sticky;
      top: 0px;
      background-color: rgba(255, 255, 255, .9);
      z-index: 100;
    }

    @media screen and (max-width: 63.99rem) {
      .secondaryNav {
        position: static;
      }
    }

    .companyName {
      font-size: 5.5rem;
      color: var(--companyNameColor);
    }

    .abletonCompanyBackground h2 {
      font-weight: 500;
    }

    .abletonCompanyBackground a {
      text-decoration: none;
    }

    .boldText {
      font-weight: 500;
    }

    .smallFont {
      font-size: .8rem;
    }

    .blueText {
      color: var(--color-accent-700);
    }

    .orangeText {
      color: var(--color-accent-600);
    }

    .bigText {
      font-size: 1.5rem;
    }

    .biggerText {
      font-size: 3.5rem;
    }

    .mainNavTopRight {
      font-size: .875rem;
    }

    .abletonCompanyBackground {
      font-size: 1.1rem;
    }

    .paddingTextBlock h2 {
      line-height: 2.5rem;
    }

    .paddingTextBlock p {
      line-height: 2rem;
    }

    @media screen and (max-width: 70.1875rem) {
      .paddingTextBlock h2 {
        line-height: 2rem;
      }
      
      .paddingTextBlock p {
        line-height: 1.5rem;
      }
    }

    .abletonCompanyBackground article {
      line-height: 2rem;
    }

    .language {
      border: transparent;
      background-color: rgb(233, 230, 230);
      padding: .25rem;
      padding-right: 1rem;
    }

    .location {
      border: transparent;
      background-color: rgb(233, 230, 230);
      padding: .25rem;
    }

    .email input {
      border: transparent;
      background-color: rgb(233, 230, 230);
      padding: .25rem .25rem .25rem 1rem;
    }

    .email button {
      border-radius: 0;
      border: transparent;
      background-color: var(--color-accent-700);
      color: white;
    }

    @media screen and (max-width: 70.1875rem) {
      .mobileTextFontSize {
        font-size: 1.125rem; /* 18px */
      }

      .mobileSubTextFontSize {
        font-size: .875rem; /* 14px */
      }
    }


  /* Visual Styling */

  /* positional styling */

    nav img {
      width: max(4vw ,3.6rem);
      height: max(4vw ,3.6rem);
    }

    @media screen and (max-width: 63.99rem) {
      .borderBottom {
        position: absolute;
        left: -1000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }

    @media screen and (min-width: 63.99rem) {
      .mobileNav {
        position: absolute;
        left: -1000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    } 

    nav {
      display: flex;
    }
    
    .flex {
      display: flex;
    } 

    .mainNav {
      display: flex;
      padding-left: 2rem;
      align-items: center;
    }

    @media screen and (max-width: 80rem) {
      .mainNav {
        padding-left: .5rem;
      }
    }

     .mainNavLinks {
      display: flex;
      gap: 2rem;
      align-items: center;
      padding-top: 1.25rem;
      padding-bottom: 1rem;
    }

    @media screen and (max-width: 80rem) {
      .mainNavLinks {
        font-size: .875rem;
      }
    }

    .mainNavTopRight {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      padding-right: 2.5rem;
    }

    @media screen and (max-width: 80rem) {
      .mainNavTopRight {
        padding-right: 1.5rem;
      }
    }

    .mainNavTopRightLinks {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: end;
      width: 50%;
      padding-right: 2.5rem;
    }

    .mainNavTopRightLinks li {
      list-style: none;
      font-weight: 500;
    }

    @media screen and (max-width: 80rem) {
      .mainNavTopRightLinks li {
        font-size: .875rem;
      }
    }

    .gap {
      display: flex;
      gap: 2rem;
    }

    .mainNavTopRight ul {
      align-items: center;
    }

    .borderBottom {
      border-bottom: 2px solid rgb(240, 240, 240);
      padding-bottom: .35rem;
      display: block;
    }

    .secondaryNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: .875rem;
    }

    @media screen and (max-width: 80rem) {
      .secondaryNav {
        padding-left: 1.1rem;
      }
    }

    @media screen and (max-width: 80rem) {
      .secondaryNavList {
        font-size: .75rem;
        padding: 0;
        gap: 1.1rem;
      }
    }

    .companyName {
      background-image: url(/images/soundEditing.jpg);
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      margin-inline: 8%;
      height: 90vh;
      
      display: grid;
    }

    .centerText {
      text-align: center;
      display: grid;
      place-self: center;
    }

    @media screen and (max-width: 48rem) {
      .heroTitle {
        font-size: 3.5rem;
      }
    }

    .paddingTextBlock {
      margin-inline: auto;
      padding-top: 8.33vw;
      padding-bottom: 8.33vw;
      padding-inline: 8.33vw;
      max-width: 60rem;
      min-width: 15rem;
    }

    @media screen and (min-width: 48rem) {
      .paddingTextBlock {
        padding-inline: 8rem;
      }
    }

    .paddingTextBlock h2 {
      padding-bottom: 1rem;  
    }
    
    .imgSec1 {
      display: flex;
      width: 100%;
      height: 58.3125vw;
      padding-top: 8.33vw;
      padding-bottom: 8.33vw;
      position: relative;
      align-items: center;
    }

    .yellowBackground {
      height: 58.3125vw;
      width: 58.3125vw;
      background-color: var(--color-accent-300);
      position: absolute;
      right: 0px;
      top: 0;
      z-index: 1;
    }

    .imgSec1-LeftContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      z-index: 1;
    }

    .imgSec1-RightContainer {
      display: flex;
      width: 50%;
      min-height: 33rem;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }

    .imgSec1PicLeft {
      width: 42vw;
      margin-left: 8.33vw;
      aspect-ratio: 1;
    }


    .imgSec1PicRight {
      width: 33vw;
      height: 25vw;
      aspect-ratio: 1/.75;
    }
  
    .videoTestimony {
      padding-bottom: 8.33vw;
      padding-top: 8.33vw;
    }

    .videoCaption {
      padding-top: .75rem;
      padding-left: .75rem;
    }

    .imgSec2 {
     display: flex;
     position: relative;
     z-index: 2;
   }

    .greenBackground {
      width: 58.3vw;
      height: 75vw;
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--color-accent-200);
      z-index: 1;
    }


    .imgSec2-LeftContainer {
      width: 58.3vw;
      height: 75vw;
      display: flex;
      flex-direction: column;
      gap: 8.33vw;
      padding-top: 8.33vw;
      z-index: 2;
    }

    .imgSec2-LeftContainer figure {
      display: flex;
      justify-content: center;
    }

    .imgSec2-RightContainer figure {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .imgSec2-LeftContainer img {
      width: 33.3vw;
      height: 25vw;
    }

    .imgSec2-RightContainer {
      width: 50%;
      display: flex;
      align-items: center;
      margin-right: 8.33vw;
    }

    .imgSec2-RightContainer img {
      width: 41.67vw;
      height: 41.67vw;
      z-index: 3;
    } 

    .bigImgSection img {
      width: 83vw;
      height: 47vw;
    }

    .bigImgSection {
      display: flex;
      justify-content: center;
    }

    .imgSection3 {
      position: relative;
      height: 58vw;
      display: flex;
      width: 100%;
      z-index: 3;
    }

    .paragraphElementPadding {
      padding-bottom: 1rem;
    }

    .purpleBackground {
      position: absolute;
      width: 67vw;
      height: 58vw;
      top: 0;
      translate: 25%;
      background-color: var(--color-accent-500);
      z-index: -1;
    }

    .imgSec3-LeftContainer {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .imgSect3-RightContainer {
      width: 50%;
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .imgSec3-LeftContainer img {
      width: 33.3vw;
      height: 25vw;
      z-index: 3;
    }

    .imgSect3-RightContainer img {
      width: 41.67vw;
      height: 41.67vw;
      z-index: 3;
    }

    .jobLinkBox {
      display: flex;
      padding-inline: 8.33vw;
      padding-bottom: 8.33vw;
      width: fit-content;
      height: 42vw;
    }

    @media screen and (max-width: 80rem) {
      .jobLinkBox {
        flex-direction: column;
        height: fit-content;
      }
    }

    .leftBoxWithJobLink {
      width: 50%;
    }

    @media screen and (max-width: 80rem) {
      .leftBoxWithJobLink {
        width: 100%;
      }
    }

    .leftBoxWithJobLink figure {
      height: 100%;
      width: 100%;
    }

    .leftBoxWithJobLink img {
      height: 100%;
      width: 100%;
    }

    .rightBoxWithJobLink {
      background-color: var(--color-accent-400);
      display: flex;
      width:fit-content;
      height: 100%;
      justify-content: center;
      flex-direction: column;
    }

    @media screen and (min-width: 80rem) {
      .rightBoxWithJobLink {
        width: 50%;
      }
    }
    
    .rightBoxWithJobLink h2 {
      padding-bottom: 2rem;
      padding-top: 8.33vw;
      line-height: 2.5rem;
    }

    @media screen and (max-width: 70rem) {
      .rightBoxWithJobLink h2 {
        line-height: 2rem;
      }
    }

    .rightBoxWithJobLink h2, .rightBoxWithJobLink p {
      padding-inline: 8.33vw;
    }

    .rightBoxWithJobLink p {
      padding-bottom: 8.33vw;
    }

    @media screen and (min-width: 70rem) {
      .rightBoxWithJobLink h2, .rightBoxWithJobLink p {
        padding-inline: 7rem;
      }
    }

    .rightBoxWithJobLink p::after {
      content: '>';
      padding-left: .5rem;
    }

    .jobLinkText {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 70.1875rem) {
      .jobLinkText, .jobLink{
        font-size: 1.1rem;
      }
    }

    .gridTitle {
      padding-inline: 7rem;
      border-top: 2px solid rgb(233, 230, 230);
      padding-top: 6.5rem;
    }

    .gridFooterLayout {
      padding-inline: 7rem;
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      row-gap: 3rem;
      column-gap: -1rem;
      display: grid;
      grid-template-columns: 28% 30% 1fr;
      grid-template-rows: 1fr 1fr; 
      grid-template-areas:
        "register education newsletter"
        "community languageAndLocation .";
    }

    .register {
      grid-area: register;
      line-height: 2rem;
      row-gap: 5rem;
    }

    .community {
      grid-area: community;
      line-height: 2rem;
    }

    .education {
      grid-area: education;
      line-height: 2rem;
    }

    .languageAndLocation {
      grid-area: languageAndLocation;
      word-wrap: nowrap;
    }

    .newsletter {
      grid-area: newsletter;
      line-height: 2rem;
    }

    .socialIcons {
      display: flex;
      padding-top: .5rem;
      gap: .25rem;
    }

    .contactListAndLogo {
      display: flex;
      width: 100%;
      padding-inline: 7rem;
      padding-bottom: 7rem;
    }

    .contactList {
      width: 90%;
    }
    
    .contactFooter {
      display: flex;
      gap: 1rem;
      padding-left: 0;
    }

    .footerLogo {
      display: flex;
      justify-content: end;
      width: 50%;
      align-items: center;
      gap: .5rem;
    }

    .newsletter p {
      padding-bottom: 1.5rem;
    }

    .email {
      width: 100%;
      display: flex;
    }

    .email input {
      width: 75%;
    }

    .email button {
      width: 25%;
    }

    .language {
      width: 30%;
    }

    .location {
      width: 55%;
    }

    .languageAndLocation {
      display: flex;
      flex-direction: column;
    }

    .languageAndLocation label {
      padding-bottom: 1rem;
    }

    .gridFooterLayout p {
      position: relative;
    }

    .gridFooterLayout p::after {
      content: url(/svg/bx-chevron-right.svg);
      position: absolute;
      top: 4px;
      font-weight: 100;
    }

    .newsletter p::after {
      content: "";
    }

    /* footer layout changes to stacked on top of each other */

    @media screen and (max-width: 63.99rem) {
      .gridFooterLayout {
        grid-template-columns: 1fr;
        grid-template-areas: 
          "newsletter"
          "register"
          "education"
          "community"
          "languageAndLocation";
        
        column-gap: 0rem;
        row-gap: 2rem;
        padding: 2rem 8.33vw 8.33vw 8.33vw;
        font-size: .875rem;
      }

      .gridFooterLayout h3 {
        font-size: .875rem;
      }

      .gridFooterLayout div {
        line-height: 1.5rem;
      }

      .gridFooterLayout p::after {
        top: -1px;
        transform:scale(.65);
      }

      .gridTitle {
        padding-left: 8.33vw;
        padding-top: 3.5vw;
      }

      .newsletter p {
        padding-bottom: 1rem;
      }

      .ableton {
        font-size: 2.2rem;
      }

      .register {
        height: fit-content;
      }

      .languageAndLocation label {
        padding-bottom: .5rem;
      }

      .languageAndLocation select {
        display: block;
      }      

      .location {
        width: 65%;
      }

      .contactListAndLogo {
        padding-left: 8.33vw;
        padding-bottom: 6vw;
        line-height: 1.75rem;
        display: block;
      }

      .contactFooter {
        display: block;
        gap: .5rem;
      }

      .footerLogo {
        justify-content: start;
        flex-direction: row-reverse;
        padding-top: 2.25rem;
        padding-left: .2rem;
        width: 100%;
      }

      .footerLogo svg {
        transform: scale(1.75);
      }

      .footerLogo p {
        padding-left: .5rem;
      }
    }

  /* positional styling */

/* Desktop Layout */