:root {

--color-accent-200: #b6ffc0;
--color-accent-300: #fbffa7;
--color-accent-400: #b1c5ff;
--color-accent-600: #ff764d;
--color-accent-500: #d5b3ff;
--color-accent-700: #0000ff;
--companyNameColor: #fb6854;
}

/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
  }
 
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: normal;
    font-size: normal;
  }

  #root, #__next {
    isolation: isolate;
  }
/* CSS RESET */

/* ------------------------------------------------------ */

/* Desktop Layout */

  /* Visual Styling */

    body {
      font-family: 'Roboto';
    }

    .topNav  {
      list-style: none;
      font-weight: 500;
    }

    .more {
      color: var(--color-accent-600);
    }

    .mainNavTopRight {
      font-weight: 500;
      list-style: none;
    }

    .tryLive {
      color: var(--color-accent-700);
      font-size: 1.25rem;
    }

    .secondaryNav {
      font-weight: 500;
      list-style: none;
    }

    .companyName {
      font-size: 4rem;
      color: var(--companyNameColor);
    }

    .abletonCompanyBackground h2 {
      font-weight: 500;
    }

    .abletonCompanyBackground a {
      text-decoration: none;
    }

  /* Visual Styling */

  /* positional styling */

    nav img {
      min-width: 4rem;
    }

  /* positional styling */

/* Desktop Layout */