:root {

--color-accent-200: #b6ffc0;
--color-accent-300: #fbffa7;
--color-accent-400: #b1c5ff;
--color-accent-600: #ff764d;
--color-accent-500: #d5b3ff;
--color-accent-700: #0000ff;
--companyNameColor: #fb6854;
}

/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
  }
 
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: normal;
  }

  #root, #__next {
    isolation: isolate;
  }
/* CSS RESET */

/* ------------------------------------------------------ */

/* Desktop Layout */

  /* Visual Styling */

    body {
      font-family: 'Roboto';
    }

    .noListStyle {
      list-style: none;
    }

    .tryLive {
      font-size: 1.1rem;
    }

    .secondaryNav {
      font-weight: 500;
      list-style: none;
    }

    .companyName {
      font-size: 5.5rem;
      color: var(--companyNameColor);
    }

    .abletonCompanyBackground h2 {
      font-weight: 500;
    }

    .abletonCompanyBackground a {
      text-decoration: none;
    }

    .boldText {
      font-weight: 500;
    }

    .smallFont {
      font-size: .8rem;
    }

    .blueText {
      color: var(--color-accent-700);
    }

    .orangeText {
      color: var(--color-accent-600);
    }

    .bigText {
      font-size: 1.5rem;
    }

    .biggerText {
      font-size: 3.5rem;
    }

    .mainNavTopRight {
      font-size: .875rem;
    }

    .abletonCompanyBackground {
      font-size: 1.1rem;
    }

    .abletonCompanyBackground h2 {
      line-height: 2.5rem;
    }

    .abletonCompanyBackground article {
      line-height: 2rem;
    }

  /* Visual Styling */

  /* positional styling */

    nav img {
      min-width: 4rem;
    }

    nav {
      display: flex;
    }
    
    .flex {
      display: flex;
    }

    .mainNav {
      display: flex;
      padding-left: 2rem;
    }

    .mainNavLinks {
      display: flex;
      gap: 2rem;
      align-items: center;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }

    .mainNavTopRight {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      padding-right: 2.5rem;
    }

    .gap {
      display: flex;
      gap: 2rem;
    }

    .mainNavTopRight ul {
      align-items: center;
    }

    .borderBottom {
      border-bottom: 2px solid rgb(240, 240, 240);
      padding-bottom: .35rem;
    }

    .secondaryNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: .875rem;
    }

    .companyName {
      background-image: url(/images/soundEditing.jpg);
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      margin-inline: 7.5rem;
      min-height: 41rem;
      display: grid;
    }

    .centerText {
      text-align: center;
      display: grid;
      place-self: center;
    }

    .paddingTextColumn {
      padding-inline: 23rem;
    }

    .paddingTextTop {
      padding-top: 6rem;
    }

    .paddingTextBottom {
      padding-bottom: 3rem;
    }

    .abletonCompanyBackground h2 {
      padding-bottom: 1.5rem;  
    }

    .abletonCompanyBackground {
      padding-bottom: 8rem;
    }
    

  /* positional styling */

/* Desktop Layout */